.title{
     font-family: 'Algerian';}
body{
     background-image:url(bear-seamless-pattern-panda-polar-bear-bamboo-teddy-scarf-isolated-wallpaper-repeat-tile-background-cartoon-character-illustration-doodle-vector.png);
}
p {
     color:#ff0000;
}
h1 {
     color: #fd0000;
}